<!-- Menu FrondEnd -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/admin">Administrador</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/reviews">Reviews <i class="icon-share-alt icon-white"></i></a></li>
          <li><a href="/generos">Generos <i class="icon-share-alt icon-white"></i></a></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>  
            </li>
          <% end %>
          <li><a href="/" target="_blank">Ver Pagina <i class="icon-share-alt icon-white"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div><!-- End MenuFrondEnd -->