<h1>Editar Estreno</h1>

<%= render 'form' %>
<div class="form-actions">
    <%= link_to raw('<i class="icon-eye-open icon-white"></i> Ver'), @review, :class => "btn btn-primary" %>
    <%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), reviews_path, :class => "btn btn-primary" %>
</div>
